<!DOCTYPE html>
	<html lang="ja">
	<head>
		<meta charset="utf-8">
		<title>My Vue App</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<div id="app" class="container">
			<h1>My TODOS <span class="info">({{ remaining}}/{{todos.length}})</span></h1>
			<ul>
				<li v-for='(todo, index) in todos'>
					<input type="checkbox" v-model="todo.isDone">
					<span :class="{done: todo.isDone}">{{ todo.title }}</span>
					<!-- .is-doneだと  [Vue warn]: Error compiling template になる -->
					<span @click="deleteItem(index)" class="command">[x]</span>
				</li>
				<li v-show="!todos.length">NOTHING!</li>
			</ul>
			<form @submit.prevent="addItem">
				<input type="text" v-model="newItem">
				<input type="submit" value="ADD">
			</form>
		</div>
		<!--
			v-on -> @
			v-bind -> :
		-->

		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
		<script src="main.js"></script><!-- ※IDより先に書くと動かないよ！ -->
	</body>
	</html>